Part 1

In [2]:
import pandas as pd

In [29]:
df=pd.read_csv('Day2input.txt', delimiter=',', engine='python', header=None)
df.head()

                       0
0         6 8 9 11 14 12
1      31 33 36 39 42 42
2       5 6 7 9 11 13 17
3  7 9 12 15 17 18 21 27
4         58 59 60 59 60

In [ ]:
def ValidCheck(data_string):
    # Split the string into a list and convert it to integers
    data_list = [int(num) for num in data_string.split()]

    # Convert the list into a DataFrame
    df2 = pd.DataFrame(data_list, columns=['Values'])

    # Calculate the difference between each item and the next item
    df2['Difference'] = df2['Values'].diff().shift(-1)
    df2["AllPositive"]=df2['Difference'] > 0
    df2["Less4"]=df2['Difference'] < 4
    df2["AllPositiveAndLess4"]=df2["AllPositive"] * df2["Less4"]

    df2["AllNegative"]=df2['Difference'] < 0
    df2["MoreMinus4"]=df2['Difference'] > -4
    df2["AllNegativeAndMoreMinus4"] = df2["AllNegative"] * df2["MoreMinus4"]

    df2 = df2.drop(df2.index[-1])

    alltrue1 = df2["AllPositiveAndLess4"].all()
    alltrue2 = df2["AllNegativeAndMoreMinus4"].all()

    ValidList = alltrue1 or alltrue2

    return ValidList

In [ ]:
# Your string
First_string = df.iloc[0,0]
print(ValidCheck(First_string))

False

In [38]:
First_string = df.iloc[0,0]
ValidCheck(First_string)

count_trues = df[0].apply(ValidCheck).sum()
print(count_trues)

314