Part 1

In [1]:
import pandas as pd

In [11]:
df=pd.read_csv('Day2input.txt', delimiter=',', engine='python', header=None)
df.head()

                       0
0         6 8 9 11 14 12
1      31 33 36 39 42 42
2       5 6 7 9 11 13 17
3  7 9 12 15 17 18 21 27
4         58 59 60 59 60

In [28]:
# Your string
data_string = df.iloc[0,0]

# Split the string into a list and convert it to integers
data_list = [int(num) for num in data_string.split()]

# Convert the list into a DataFrame
df = pd.DataFrame(data_list, columns=['Values'])

# Calculate the difference between each item and the next item
df['Difference'] = df['Values'].diff().shift(-1)

# Display the DataFrame
print(df)

   Values  Difference
0       6         2.0
1       8         1.0
2       9         2.0
3      11         3.0
4      14        -2.0
5      12         NaN